#signUpWrap {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#signUpWrap input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  outline: none;
}

#signUpWrap input[type="button"] {
  background-color: #87ceeb; /* 파스텔 블루 */
  color: white;
  cursor: pointer;
}

#signUpWrap input[type="button"]:hover {
  background-color: #6ca6cd;
}

#signUpWrap input:hover {
  border: 1px solid #808080; /* 테두리 색상 변경 */
}