@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
/* COMMON */
* {
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Gothic A1', sans-serif;}


body {
    padding: 0;
    width: 1000px;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* FOOTER */
/* div.footer {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background-color: rgba(100, 100, 100, .2);
} */